// Colors
$primary: #023e41;
$secundary:#5EB1BF;
$success: #28a745;
$error: #BB342F;
$warning: #DDA448;
$lightgray: #FCFCFC;

// Buttons Color
$btn-primary: #023e41;
$btn-secundary: #FCFCFC;
$btn-primary-hover: #023133;
$btn-secundary-hover: #02313309;
$btn-disabled-dark: #737887;
$btn-disabled-light: #C9CACB;

//Accordion Color
$accordion-border-color: rgb(233, 233, 233);
$accordion-hover-color: #f0efef;