// Colors
$primary-color: #042A2B;
$secundary-color:#5EB1BF;
$success-color: #28a745;
$error-color: #dc3545;
$background-color: #FCFCFC;

// Tipografía
$font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: 16px;